/* テーブル全体を大きくする */
table {
    width: 100%;
    font-size: 1.5em;
    border-collapse: collapse;
    margin: 20px 0;
}

/* テーブルヘッダーを大きくして太字にする */
th {
    padding: 10px;
    background-color: #f2f2f2;
    font-weight: bold;
}

/* テーブルセルを大きくする */
td {
    padding: 10px;
}


/* 検索バーとボタンをスタイルする */
.search {
    margin-bottom: 20px;
    text-align: center; /* 検索バーを中央揃えにする */
}

.keyword {
    width: 300px;
    padding: 10px;
    font-size: 1.2em;
}

.searchbutton {
    padding: 10px 20px;
    font-size: 1.2em;
}

/* 復元と削除のボタンをスタイルする */
button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.2em;
}

/* ナビゲーションボタンを中央揃えにする */


button[type="button"] {
    padding: 10px 20px;
    font-size: 1.2em;
}
