div.chatroom{
    /* box-sizing: border-box; */
    width: 100%;
    height: 50px;
    overflow: hidden;
    /* 縦中央ぞろえ */
    display: flex;
    align-items: center;
}
div.chatroom .room-img {
  width: 40px;
  height:40px;
  border-radius: 50%;
}

.b{
    /* float:left;
    position: absolute;
    transform: translateY(-50%); */
}

.roomname{
    margin: 0 0 0 10px;
}
.s{
    margin-left:auto;
}
.addition{
    white-space: nowrap;
    justify-content: center;
    margin: 1px auto;
    padding: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 6px 1px #d6adff, 0 0 6px 1px #d6adff inset;
    border-radius: 30px;
    border-color: #d6adff;
    box-sizing: border-box;
    border: 1px solid #d6adff;
}
.addition:hover{
    background-color: #d6adff;
    color: #ffffff;
}
.invited{
    white-space: nowrap;
    justify-content: center;
    margin: 1px auto;
    padding: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 6px 1px #d6adff, 0 0 6px 1px #d6adff inset;
    border-radius: 30px;
    border-color: #d6adff;
    box-sizing: border-box;
    border: 1px solid #d6adff;
}
.invited:hover{
    background-color: #d6adff;
    color: #ffffff;
}
body{
    background-image: url('../images/sky3.png');
}