#app{
	font-family:Google Sans,arial,sans-serif-medium,sans-serif;
	word-wrap: break-word;
    overflow-wrap: break-word;
}

label,p,a{
	word-wrap: break-word;
    overflow-wrap: break-word;
}

.navbar-item.is-expanded{
	justify-content: center;
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top {
	position: sticky;
}

.navbar.is-fixed-top {
	height: 10vh;
}
.navbar.is-fixed-bottom {
	height: 7vh;
}
.main{
	min-height: 83vh;
}

.loginheight100{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.displaycenter{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	margin-top: calc(-10vh);
}

.close-icon {
	cursor: pointer;
}
  
.close-icon:hover {
	opacity: .7;
}

#cooking_table,#ingredient_table,#customer_table{
	width:100%;
}

.width95{
	width:95%;
}

.width85{
	width:85%;
}

.width80{
	width:80%;
}

.width55{
	width:55%;
}

.width35{
	width:35%;
}

.width10{
	width:10%;
}

.width5{
	width:5%;
	vertical-align:middle;
}

.width55 input,.width35 input,.width95 textarea{
	width:95%
}

.txt-limit1 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* 任意の行数を指定 */
  }

.txt-limit2 {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .txt-limit3 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; /* 任意の行数を指定 */
  }

.media_recipe_image{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.media_recipe_imege img{
	max-height:100%;
	width:auto;
	max-width:100%;
	height:auto;
}

.Mydropdown{
	left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.Myrecipe{
	width: 90vw;
}

.Myrecipe a:hover{
	background-color: hsl(219, 70%, 96%);
}

.contents-hide{
	height:0;
	overflow:hidden;
	transition:all 0.5s;
}

.txt-show{
	margin-bottom: 0;
}

button.more {
	width: 120px;
	margin: 0 auto;
	margin-top: 0.5rem;
	display: block;
	background-color: #666;
	color: #fff;
	padding:10px 15px;
	border: none;
	outline: 0;
	transition: .5s;
	-erbkit-transition: .5s;
	}
	 
button.more::after {
	content: "閲覧";
	transition: .2s;
	-erbkit-transition: .2s;
	}
	
button.more.on-click::after{
	content: "閉じる";
	}
	
.product_image_slide{
	width: 100vw;
	height:50vh;
	border: 2px solid #CCC;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
}

.price *{
	display: inline-block;
}

.selectbox-001 {
    position: relative;
}

.selectbox-001::before,
.selectbox-001::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.selectbox-001::before {
    display: inline-block;
    right: 0;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #2589d0;
}

.selectbox-001::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.selectbox-001 select {
    appearance: none;
    min-width: 9rem;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 3px;
    background-color: #e6edf3;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.selectbox-001 select:focus {
    outline: 2px solid #2589d0;
}

/**/

.selectbox-002 {
    position: relative;
	width: 100%;
}

.selectbox-002::before,
.selectbox-002::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.selectbox-002::before {
    display: inline-block;
    right: 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 0 3px 3px 0;
    background-color: #2589d0;
}

.selectbox-002::after {
    position: absolute;
    top: 50%;
    right: 1.25em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.selectbox-002 select {
    appearance: none;
    width: 100%;
    height: 2.5em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 3px;
    background-color: #e6edf3;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.selectbox-002 select:focus {
    outline: 2px solid #2589d0;
}



.hero-body hr{
	margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.payment_ul{
	padding: 0;
}

.payment_ul label {
	border-color: transparent;
	border-radius: 0;
	border-bottom: dashed 1px silver;
	box-shadow: none;
  }
  
.payment_ul i {
	color: #ffb03f;
}

.payment_ul li:first-of-type label{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.payment_ul li:last-of-type label{
	border-bottom: none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

/*デフォルトのラジオボタンのcssを無効化*/
.payment_ul input[type="radio"] {
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}

.payment_ul input[type="radio"] {
	content: '';
	width: 16px;
	height: 24.8px;
}
  
.payment_ul input[type="radio"]:checked:before {
	font-family: "Font Awesome 5 Free","Font Awesome 5 Brands";
  	content: '\f00c';
	font-weight: 900;
	color:#ffb03f;
  }


.setting_ul{
	padding: 0;
}

.setting_ul i {
	color: #000;
}

.setting_ul a,.setting_ul button {
	border-color: solid 1px silver;
	border-radius: 0;
	box-shadow: none;
  }

.setting_ul li:first-of-type a{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.setting_ul li:last-of-type a{
	border-bottom: none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.Obutton{
	width:90vw;
	background-color:#ffce5d;
}

.cart_image{
	width:100%;
	height:7.5rem;
}

.cart_image a{
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart_image img{
	max-width: 100%;
	width:auto;
	max-height: 100%;
	height:auto;
}

.full_image a{
	width:100%;
	height:100%;
}

.full_image img{
	max-width: 100%;
	width:auto;
	max-height: 100%;
	height:auto;
	mix-blend-mode: multiply;
}

.center_image{
	display: flex;
	justify-content: center;
	align-items: center;
}

.center_txt{
	display: flex;
	justify-content: center;
	align-items: center;
}

.top_products{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
