#container{
    /* margin: 0; */
    /* padding: 12px;
    position: relative; */
    top: 50px;
    background: #7da4cd;
    padding-bottom: 20px;
  }
  header{
      width: 100%;
      height: 35px;
    /* 画面に対して位置を固定する */
      position:fixed;
      /* 親要素内の範囲で固定される */
      /* position: sticky; */
      top:0;
      transition: 0.5s;/* アニメーション表示時間 */
      /* background-color: rgb(208, 250, 0); */
      background-color: #d6adff;
      /* 画面の最前列にする */
      z-index: 1000;
      font-size: 150%;
      text-align: center;
  }
  
  footer{
      position: fixed;
      /* position: sticky; */
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40px;
      transition: 0.5s;
      /* background-color: rgb(208, 250, 0); */
      background-color: #d6adff;
      display: grid;
      display: flex;
      justify-content: center; /* 横方向の中央寄せ */
      align-items: center; /* 縦方向の中央寄せ */
  }