header{
    /* position:fixed;画面に対して位置を固定する */
    /* 親要素内の範囲で固定される */
    position: sticky;
    top:0;
    transition: 0.5s;/* アニメーション表示時間 */
    background-color:rgb(255, 50, 200);
}

footer{
    /* position: fixed; */
    position: sticky;
    bottom: 0;
    transition: 0.5s;
    background-color:rgb(255, 50, 200);
}

#nav {
    list-style: none;/*リストの・を消す*/
    font-size: 0;
}
   
#nav li {
    width: 140px;
    text-align: center;
    background-color: #333;
    display: inline-block;
    font-size: 16px;
}
   
#nav li a {
    text-decoration: none;/*文字の下線を消す*/
    color: #fff;
    font-weight: bold;
}