body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px; /* フォームをさらに下に下げるためのマージンを追加 */
}

.login-form h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    width: 100%;
    height: 80%;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #000;  /* 常に黒い枠を表示 */
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #000;  /* 文字色を黒に変更 */
    transition: background-color 0.3s;
}

.form-group input:focus {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #000;  /* フォーカス時も黒い枠を表示 */
}

.btn, .btn-secondary {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
}

.btn {
    background-color: #6adf6e;
    color: white;
}

.btn:hover {
    background-color: #45a049;
}

.btn-secondary {
    background-color: #fff;
    color: #333;
}

.btn-secondary:hover {
    background-color: #eee;
}

.error {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 1rem;
}
