/* styles.css */
.icon-image {
    width: 60px; /* 適切なサイズに調整 */
    height: 60px; /* 適切なサイズに調整 */
    border-radius: 50%;
    object-fit: cover; /* 画像を容器にフィットさせる */
    display: block;
    float: left;
    border: 2px solid black; 
}

/* 既存のスタイル */
form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

form {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative; /* 相対位置指定を追加 */
}

form input[type="submit"] {
   

    top: 5px; /* フォームの上からの位置を指定 */
    right: 5px; /* フォームの右からの位置を指定 */
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

form label, form select, form textarea, form input[type="file"] {
    display: block;
    width: 100%;
    margin: 10px 0;
}

form select, form textarea, form input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form img {
    display: block;
    margin: 10px 0;
    max-width: 100%;
    height: auto;
}
