body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
   width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.signup-form {
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 250px;
    width: 100%;
    margin-top: 230px; 
}

.signup-form h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 2px;
    font-size: 1rem;
}

.form-group input {
    width: 90%;
    padding: 12px;
    border: 1px solid #000; /* Ensure the border is a solid color */
    border-color: #fca7d2;
    border-radius: 20px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #000; /* Changed text color to black for better visibility */
    transition: 0.3s;
    box-shadow: 0 0 6px 1px #fca7d2, 0 0 6px 1px #fca7d2 inset;
}

.form-group input:focus {
    border-color: #fca7d2;
}

.btn1 {
    background-color: white;
    color: #fca7d2;
    display: inline-block;
    width: 100%;
    padding: 9px;
    border: 2px solid #fca7d2;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: -40px;
}
.btn2 {
    background-color: white;
    color: #fca7d2;
    display: inline-block;
    width: 100%;
    padding: 8px;
    border: 2px solid #fca7d2;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}
.btn3 {
    background-color: white;
    color: #fca7d2;
    display: inline-block;
    width: 100%;
    padding: 8px;
    border: 2px solid #fca7d2;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.btn1:hover {
    background-color: #fca7d2;
    color: white;
}
.btn2:hover {
    background-color: #fca7d2;
    color: white;
}
.btn3:hover {
    background-color: #fca7d2;
    color: white;
}
